@charset "UTF-8";

table {
    width: 800px;
    text-align: left;
    border-collapse: collapse;
}

table td{
    border:1px #000000 solid;
    border-width: 1px 0px;
}

.day {
    color: inherit;
}

.holiday {
    color: red;
    font-size: 12px;
}

#sat {
    color: blue;
}

#sun {
    color: red;
}

#holi {
    color: red;
}

#icon {
    width: 40px;
}

.name {
    font-size: 30px;
}